 <h3><center>健身房資訊</center></h3>
 <br>
 <div class="row">
  <% @gymnasium.each do |gymnasia| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to gymnasium_path(gymnasia) do %>
        <% if gymnasia.photo.present? %>
          <%= image_tag(gymnasia.photo.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= gymnasia.name %>
    </div>
  <% end %>
</div>